/* cursor:pointer가 적용이안되는경우. z-index값이 마우스가 올려져있는 위치보다 뒤로가서 안되는걸수있음 */
/* display:none은 transition적용안됨 visitibility이용하거나 animation이용(단 from->to적용되나 from<-to 적용은안됨) */
/* position: absolute; absolute후 움직일시 position이 설정된 가장 가까운부모 기준으로됨 없으면 브라우저기준 */
/* z-index - 숫자가 클수록 바깥노출, 단 배경칠해줘야 뒤에거 안보임, 또한 position 설정시만 적용가능 */
* {
margin:0px;
padding:0px; 
list-style: none;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
} 

:root {
  --grey-line: #CFD2CF;
  --grey-font: #B2B2B2;
  --grey-bg: #EEEEEE;
}

main {
  display: flex;
}

/* header */
header {
  display: flex;
  background-color: black;
  color:white;
  height: 78px;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

/* head 좌측 메뉴 */
.head {
  display: flex;
  align-items: center; 
  /* item들이 1줄일경우 align-items 2줄이상일시 align-content*/
  /* text-content 는 display적용시 안됨. */
  position: relative; 
  /* == z-index:auto; ,z-index값을 0이상주니까 rankings가 아래로 안내려갔었는데 auto하니 됨. */
}
.head .musinsa {
  cursor: pointer;
  margin-left: 23px;
  margin-right: 23px;
  padding-bottom: 5px;
  font-size:xx-large
}
.head .search {
  display: flex;
}
.head .search input {
  width:230px;
  height: 32px;
  box-sizing: border-box;
  outline: none;
}
.head .search .searchBtn {
  width:30px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid;
  border-color: var(--grey-line);
  border-color: rgba(255, 253, 253, 0.5);
  cursor:pointer;
}
.head .search .searchBtn span {
  color: white;
  padding: 2px;
}


/* 검색박스 우측 랭킹 박스 */
.rollingRanking {
  /* position: relative; */
  width: 217px;
  height: 32px;
  margin-left: 14px;
}
.rankings {
  /* position: absolute; */
  /* top: 32px; */
  background-color: black;
  color: white;
  font-size: 15px;
  width: 217px;
  height: 32px;
  /* transition: all 0.2s; */
}
/* 각 ranking에 적용 */
.rankings > div {
  width: 217px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  /* padding-bottom: 0px; */
  box-sizing: border-box;
  font-weight: 500;
}
.rankings div ul {
  display: flex;
  align-items: center;
  color: red;
  width: 28px;
  padding-top: 3px;
}
.rankings div ul li:last-child {
  margin-bottom: 4px;
}

/* slick slider, nav 사이 공간(서로 아예 붙지 않도록하기 위함) */
.betweenPart {
  width: 217px;
  background: #000;
}


/* nav 우측메뉴 */
nav {
  display: flex;
  align-items:center;
}
nav > ul { /* >는 하위자식 하나에게만적용*/
  display: flex;
  width: 850px;
  justify-content: space-around;
  font-weight:600;
}
nav ul li {
  cursor: pointer;
  line-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

/* 랭킹메뉴 하위 목록 */
nav .rankLi {
  position: relative;
}
nav ul .rankLi .rankLi_ {
  position: absolute;
  top: 40px;
  left:-35px;
  color: black;
  background-color: white;
  display: none;
}
/* 업데이트 메뉴 하위 목록 */
nav .updateLi {
  position: relative;
}
nav ul .updateLi .updateLi_ {
  position: absolute;
  top: 40px;
  left: -20px;
  color: black;
  background-color: white;
  display: none;
}
/* 코디 메뉴 하위 목록 */
nav .styleLi {
  position: relative;
}
nav ul .styleLi .styleLi_ {
  position: absolute;
  top: 40px;
  left: -34px;
  color: black;
  background-color: white;
  display: none;
}
/* 세일 메뉴 하위 목록 */
nav .saleLi {
  position: relative;
}
nav ul .saleLi .saleLi_ {
  position: absolute;
  top: 40px;
  left: -34px;
  color: black;
  background-color: white;
  display: none;
}
/* 스페셜 메뉴 하위 목록 */
nav .specialLi {
  position: relative;
}
nav ul .specialLi .specialLi_ {
  position: absolute;
  top: 40px;
  left: -27px;
  color: black;
  background-color: white;
  display: none;
}
/* 매거진 메뉴 하위 목록 */
nav .magazineLi {
  position: relative;
}
nav ul .magazineLi .magazineLi_ {
  position: absolute;
  top: 40px;
  left: -27px;
  color: black;
  background-color: white;
  display: none;
}
/* TV 메뉴 하위 목록 */
nav .tvLi {
  position: relative;
}
nav ul .tvLi .tvLi_ {
  position: absolute;
  top: 40px;
  left: -40px;
  color: black;
  background-color: white;
  display: none;
}
/* 이벤트 메뉴 하위 목록 */
nav .eventLi {
  position: relative;
}
nav ul .eventLi .eventLi_ {
  position: absolute;
  top: 40px;
  left: -27px;
  color: black;
  background-color: white;
  display: none;
}

/* nav 메뉴 하위 목록에 적용 */
nav ul li ul li {
  display: flex;
  width:100px;
  height: 40px;
  border:1px solid rgba(128,128,128,0.5);
  justify-content: center;
  align-items: center;
}
nav ul li ul li:not(:first-child) {
  border-top: none;
}
nav ul li ul li:hover {
  background-color: var(--grey-bg);
  cursor: pointer;
}

.separate {
  width: 100%;
  height: 51px;
}

.cover {
  width: 100%;
  border-top: 1px solid var(--grey-line);
  border-bottom: 1px solid var(--grey-line);
}

/* myinfo(article) */
.myInfo {
  display: flex;
  width: 800px;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}
.myInfo div:not(:nth-child(1)) {
  border-right: 1px solid var(--grey-line);
  padding-right: 14px;
  text-align: center;
}
.myInfo .login {
  width: 152px;
  height: 28px;
  border:1px solid;
  text-align: center;
  cursor: pointer;
  padding-top: 4px;
}
.myInfo .login:hover {
  background-color: black;
  color: white;
}
.myInfo div:not(:nth-child(1)):hover {
  cursor: pointer;
  text-decoration: underline;
}
.myInfo .like {
  color: red;
}

/* aside */
aside {
  width: 271px;
  border: 1px solid var(--grey-line);
  border-top: none;
  padding: 20px;
  height: 2208px;
  position: relative;
  z-index: 0;
}
aside .menu{
  display: flex;
  border: 1px solid var(--grey-line);
  border-bottom: none;
  margin-bottom: 15px;
  padding:5px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
/*@@@@@ nth-childe 에대해. @@@@@ */
/* aside > div:first-child - aside안의 첫번째자식인 div */
/* aisde > div:first-of-type - aside안의 div와 동일한 유형중 첫번째 */
/* 아래의 aside > div:not(:nth-child(1))경우 */
/* aside의 자식div중 첫번째자식이아닌 자식div를 말함. */
/* best_, 인기best 가로flex  menu빼고*/
aside > div:not(:nth-child(1)) > div:nth-child(1) { 
  display: flex;  
}
/* best등의 메뉴들 인기best와 btn 구분 menu빼고 */
/* content에도 적용 (되기떄문에주의) */
aside > div:not(:nth-child(1)) {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: white;
  z-index: 0;
  /* height: 30px; */
  /* padding-bottom: 10px; */
}
/*menu,내용,asidbot외의 하위메뉴들. hover시 화면회색 */
aside > div:not(:nth-child(1), .bestContent, .topContent, .outerContent, .pantsContent, .asideBot):hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
/* best등 메뉴들, content,menu제외  */
aside > div:not(:nth-child(1), .bestContent, .topContent, .outerContent, .pantsContent, .asideBot) {
  height: 45px;
  align-items: center;
  width: 271px;
}

aside .black{
  font-weight: 600;
}
aside .grey{
  padding-left: 5px;
  color: var(--grey-font);
  font-size:medium;
}

.top, .outer, .pants, .asideBot {
  border-top: 1px solid var(--grey-line);
}

/* 메뉴 안 내용 설정 */
/* 내용 초기상태 */
.bestContent, .topContent, .outerContent, .pantsContent {
  position: relative;
  height: 0px;
  visibility: hidden;
}
.bestContent div, .topContent div, 
.outerContent div, .pantsContent div {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.bestContent div:nth-child(1):hover,
.topContent div:nth-child(1):hover,
.outerContent div:nth-child(1):hover,
.pantsContent div:nth-child(1):hover {
  font-weight: 700;
}
.bestContent div:nth-of-type(2),
.topContent div:nth-of-type(2),
.outerContent div:nth-of-type(2),
.pantsContent div:nth-of-type(2) {
  color: var(--grey-font);
}

.pantsContent > ul:last-of-type {
  padding-right: 30px;
} 

/* 인기 내용 노출 애니메이션*/
aside .bestContent.animate {
  animation: showContent 0.4s forwards;
  z-index: -1;
}
aside .bestContent.reverse {
  animation: showContent 0.4s reverse forwards;
  animation-timing-function: ease-in;
  z-index: -1;
}
aside .bestContent.fixation {
  visibility: visible;
  height: 180px;
}

/* 상의 내용 노출 애니메이션 */
aside .topContent.animate {
  animation: showContent 0.4s forwards;
  z-index: -1;
}
aside .topContent.reverse {
  animation: showContent 0.4s reverse forwards;
  animation-timing-function: ease-in;
  z-index: -1;
}
aside .topContent.fixation {
  visibility: visible;
  height: 180px;
}

/* 아우터 내용 노출 애니메이션 */
aside .outerContent.animate {
  animation: showContent 0.4s forwards;
  z-index: -1;
}
aside .outerContent.reverse {
  animation: showContent 0.4s reverse forwards;
  animation-timing-function: ease-in;
  z-index: -1;
}
aside .outerContent.fixation {
  visibility: visible;
  height: 180px;
}

/* 바지 내용 노출 애니메이션 */
aside .pantsContent.animate {
  animation: showContent 0.4s forwards;
  z-index: -1;
}
aside .pantsContent.reverse {
  animation: showContent 0.4s reverse forwards;
  animation-timing-function: ease-in;
  z-index: -1;
}
aside .pantsContent.fixation {
  visibility: visible;
  height: 180px;
}

@keyframes showContent {
  from {
    height: 0px;
    visibility: hidden;
  }
  to {
    height: 180px;
    visibility: visible;
  }
}

/* 가장 밑menu인 pants의 content를 가리기 위함 */
.asideBot {
  position: relative;
  z-index: 0;
  height: 600px;
  background-color: white;
}

/* aside show handler */
.asideHandler {
  position: absolute;
  padding: 10px;
  padding-left: 8px;
  left: -2px;
  top: 0px;
  border: 1px solid var(--grey-line);
  border-left: 1px solid white;
  border-top: none;
  cursor: pointer;
  background-color: white;
  z-index: 1;
}
.asideHandler span {
  font-weight:900;
  font-size: 23px;
}
aside.none {
  display: none;
}
.asideHandler.move {
  left: 0px;
}

/* mainContent, cover */
.mainContent{
  width: 100%;
}
.mainContent2_cover {
  border: 1px solid var(--grey-line);
  border-left: none;
}
.mainContent3_cover {
  border: 1px solid var(--grey-line);
  border-left: none;
  border-top: none;
}
.mainContentB_cover {
  border: 1px solid var(--grey-line);
  border-left: none;
  border-top: none;
}
.footer_cover {
  border: 1px solid var(--grey-line);
  border-left: none;
  border-top: none;
}
.otherExplan_cover {
  border: 1px solid var(--grey-line);
  border-left: none;
  border-top: none;
}



/* mainContent1 실시간 랭킹*/
.mainContent1 {
  display: flex;
  width: 1324px;
}

/* 랭킹 리스트 */ 
.ranking {
  padding-right: 10px;
  position: relative;
}
.ranking h3 {
  padding-left: 70px;
  padding-top: 20px;
  width: 170px;
}
.ranking div:nth-of-type(2) {
  padding-left: 20px;
  padding-top: 15px;
  font-size: 15px;
  cursor: pointer;
}
.rankingList {
  display: flex;
  padding: 20px;
  padding-top: 10px;
  font-size: 13px;
  color: var(--grey-font);
}
.rankingList li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.rankingList li {
  padding: 2px;
}

/* 랭킹 제품 */
.products {
  width: 1054px;
  height: 600px;
  padding: 10px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

#product {
  /* background-color: aqua; */
  width: 220px;
  height: 300px;
}
#product img {
  padding-left: 25px;
  width: 170px;
  height: 190px;
}
#product:hover {
  cursor: pointer;
  background-color: var(--grey-bg);
}

.productBrand {
  font-weight: bolder;
  font-size: 13px;
  padding-left: 11px;
  padding-top: 2px;
}
.productName {
  font-weight: 500;
  font-size: 12px;
  padding-left: 11px;
  padding-top: 5px;
}
.productPrice {
  font-weight: bolder;
  font-size: 13px;
  padding-left: 11px;
  padding-top: 7px;
}

/*review 페이지 product*/
#product_rv {
  /* background-color: aqua; */
  width: 300px;
  height: 400px;
  padding: 20px;
}
#product_rv img {
  padding-left: 10px;
  width: 250px;
  height: 300px;
}
#product_rv:hover {
  cursor: pointer;
  background-color: var(--grey-bg);
}


.productrvBrand {
  font-weight: bolder;
  font-size: 15px;
  padding-left: 11px;
  padding-top: 2px;
}
.productrvName {
  font-weight: 500;
  font-size: 17px;
  padding-left: 11px;
  padding-top: 5px;
}
.productrvPrice {
  font-weight: bolder;
  font-size: 15px;
  padding-left: 11px;
  padding-top: 7px;
}

/* mainContent2 스타일 */
.mainContent2 {
  height: 397px;
  display: flex;
}

/* 스타일 목록 */
.style {
  padding: 20px;
  width: 230px;
}
.style ul {
  padding-top: 25px;
}
.style li {
  padding-bottom: 17px;
  cursor: pointer;
}
.style li:not(:first-child) {
  color: var(--grey-font);
}

/* textsentiment */
.textsentiment {
  padding: 20px;
  width: 200px;
}
.textsentiment ul {
  padding-top: 25px;
}
.textsentiment li {
  padding-bottom: 17px;
}

/* textreview */
.textreview {
  padding: 20px;
  width: 400px;
}
.textreview ul {
  padding-top: 25px;
}
.textreview li {
  padding-bottom: 17px;
}

.textreview li:first-child {
  font-weight:bolder;
}

/* textreview2 */
.textreview2 {
  padding: 20px;
  width: 400px;
}
.textreview2 ul {
  padding-top: 25px;
}
.textreview2 li {
  padding-bottom: 17px;
}

.textreview2 ul:first-child {
  padding-top:50px;
}

.textreview2 li:first-child {
  font-weight:bolder;
}

/* 스타일 사진들 */
.stylePhoto {
  display: flex;
}

#style {
  margin-top: 18px;
  width: 220px;
  height: 365px;
}
#style:hover {
  background-color: var(--grey-bg);
  cursor: pointer;
}

#style > img {
  width: 190px;
  height: 270px;
  padding-left: 14px;
  padding-top: 14px;
}

/* 스타일 밑 부가 정보 */
.styleInfo {
  display: flex;
  align-items: center;
} 
.styleInfo img {
  padding-top: 4px;
  width: 53px;
  padding-left: 14px;
}
.styleInfo ul {
  padding-left: 10px;
}
.styleInfo li:first-of-type {
  padding-bottom: 5px;
}
.styleInfo li:nth-of-type(1) span:first-child,
.styleInfo li:nth-of-type(2) {
  font-weight: bolder;
  font-size: 12px;
}
.styleInfo li:nth-of-type(1) span:nth-child(2) {
  font-weight: 500;
  font-size: 12px;
}

/* mainContent3 텍스트 리뷰 요약, 정리 */
.mainContent3 {
  height: 430px;
  display: flex;
}

.shoppingIssue_info {
  display: flex;
  width: 370px;
  height: 400px;
  margin-top: 15px;
}

#siInfo:hover {
  cursor: pointer;
  background-color: var(--grey-bg);
}
#siInfo img {
  width: 340px;
  padding: 15px;
}
#siInfo ul {
  padding-left: 15px;
}
#siInfo li:first-of-type {
  padding-bottom: 10px;
  font-weight: bold;
}
#siInfo li:last-of-type {
  font-weight: bold;
  font-size: 15px;
  color: var(--grey-font);
}

/* mainContentB 주요브랜드 */
.mainContentB {
  height: 130px;
  display: flex;
}
.majorBrand {
  width: 270px;
  padding: 20px;
}

.majorBrand_ ul {
  display: flex;
}
.majorBrand_ ul:first-of-type {
  padding-top: 15px;
}
.majorBrand_ ul:last-of-type {
  padding-bottom: 15px;
}
.majorBrand_ li {
  padding: 10px;
  padding-right: 80px;
}
.majorBrand_ ul:first-of-type li{
  padding-bottom: 10px;
}
.majorBrand_ li img {
  width: 80px;
  height: 15px;
  cursor: pointer;
}
.majorBrand_ li img.wooalong {
  width: 50px;
  height: 30px;
}

/* footer */
footer {
  height: 250px;
  padding: 20px;
}

/* 기타정보 목록란 */
.otherInfo {
  display: flex;
}
.otherInfo li {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 0;
  font-size: 15px;
  font-weight: 600;
}
.otherInfo li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.otherInfo li:not(:last-of-type) {
  border-right: 1px solid var(--grey-line);
}

/* 무신사 기관들 목록 */
.musinsaInfo {
  display: flex;
}

.musinsaInfo ul {
  padding: 15px;
  margin-top: 30px;
}
.musinsaInfo ul:not(:last-child) {
  border-right: 1px solid var(--grey-line);
}
.musinsaInfo ul:not(:first-child) {
  padding-left: 23px;
}

.musinsaInfo ul li:first-child {
  font-weight: bolder;
  font-size: 18px;
  padding-bottom: 20px;
}
.musinsaInfo ul li:not(:first-child) {
  padding-bottom: 10px;
  font-size: 15px;
}

.musinsaInfo ul:first-child li:last-child {
  color: red;
}

.musinsaInfo ul:nth-of-type(2) li:nth-child(4), 
.musinsaInfo ul:nth-of-type(2) li:nth-child(5) {
  color: #009EFF;
}

.musinsaInfo ul:last-child li:nth-child(4) {
  color: #6B728E;
}
.musinsaInfo ul:last-child li:nth-child(2) span:nth-child(2):hover,
.musinsaInfo ul:last-child li:nth-child(2) span:nth-child(3):hover {
  cursor: pointer;
  text-decoration: underline;
}
.musinsaInfo ul:last-child li:nth-child(2) span {
  padding-right: 7px;
}
.musinsaInfo ul:last-child li:nth-child(2) span:not(:last-child) {
  border-right: 1px solid var(--grey-line);
}

/* 무신사 마지막 기타 설명 */
.otherExplanation {
  height: 240px;
  padding: 25px;
  padding-top: 20px;
  padding-left: 32px;
  /* padding-bottom: 0; */
}

.otherExplanation ul:not(:first-child) {
  margin-top: 30px;
  font-size: 13px;
  font-weight: bold;
  color: var(--grey-font);
}
.otherExplanation ul:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
}
.otherExplanation ul:nth-child(1) li:first-child  {
  padding-bottom: 10px;
}
.otherExplanation ul:not(:first-child) li:first-child {
  padding-bottom: 4px;
}
.otherExplanation ul:last-child {
  margin-bottom: 15px;
}

/* 무신사 밑 배너 */
.musinsaBanner {
  background-color: black;
  display: flex;
  height: 50px;
  align-items: center;
}
.musinsaBanner div:first-child {
  color: var(--grey-font);
  font-weight: bold;
  padding-left: 25px;
}
.musinsaBanner div:last-child {
  color: white;
  font-weight: bold;
  padding-left: 10px;
}


/* 이파일에서 slick slide 부분 수정이 안되길래 
slick.css 파일에 직접수정함 */
